html,body,ul,li,ol,a,p,div,form,input,h1,h2,h3,h4,span{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.clearfix::before,.clearfix::after{
	content: "";
	overflow: hidden;
	height: 0;
	clear: both;
	display: block;
	visibility: hidden;
}
a{
	text-decoration: none;
	color: white;
}
i,s,u,b{
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	text-decoration: none;	
}
ul li{
	list-style: none;
	color: #333;
}
input,textarea{
	outline-style: none;
	outline: none;
	border: none;
	resize: none;
	-webkit-appearance: none;
}
img{
	vertical-align: middle;
}
body{
	font-size: 14px;
	font-family: "microsoft YaHei","sans-serif";
	color: #333;
}
[class^=icon]{
	background-image: url(../img/headIconMap.v3.png);
	background-repeat: no-repeat;
	background-size: 250px 250px;
}
[class^=icon_t]{
	background-image: url(../img/indexMap.png);
	background-repeat: no-repeat;
	background-size: 250px 250px;
}
[class^=icon_i]{
	background-image: url(../img/pwd-icons-new.png);
	background-repeat: no-repeat;
	background-size: 120px 170px;
}
[class^=icon_a]{
	background-image: url(../img/icons.png);
	background-repeat: no-repeat;
	background-size: 300px 900px;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.r_b{
	border-right: 1px solid #e0e0e0;
}
.b_b{
	border-bottom: 1px solid #e0e0e0;
}
.dtw_filmArea {
	width: 98%;	
	margin: 0 auto;	
	
}